<%= link_to "戻る", :root %>

<h1>趣旨説明</h1>
<p>
  WISSにあまり来たことがない人たち、特に若い学生や企業の方々などが、この機会にぜひ話してみたいという人とじっくり話せる機会を増やそうというのが趣旨です。
</p>

<p>
  今回の試みは実験的なものですので、結果に不満・不都合がある場合や意図的に無視したい方もいらっしゃると思います。あまり強制的なものととらえず、必要に応じて席を交換するなど、柔軟に対応をお願いいたします。
</p>

<p>
  夕食の席を決められたくない人は「自分の席は自分で決めたい」と登録することもできますし、常連どうしや知り合いどうしで希望しあうことなどもできますが、今回の趣旨を踏まえ、出来るだけご協力いただければと思います。
</p>

<h2>よくある質問</h2>
<dl>
  <dt>たくさん希望を入力してもいいですか？</dt>
  <dd>競争率が高い人だけ希望していると叶えられないこともありますので複数登録は推奨です。</dd>
  <dd>昨年は、人気者をたくさん希望したら人気者の中に自分１人ということもありましたが、今回はなりにくいようにしたつもりです。</dd>
  <dd>席決めアルゴリズムが重たいので一人で何十件とかはしないでいただけると助かります…</dd>

  <dt>希望を登録しないでも大丈夫ですか？</dt>
  <dd>登録しなくても席は決まりますのでご安心ください。身を任せるのも楽しみ方のひとつだと思います。</dd>
  <dt>「自分の席は自分で決めたい」を選択しているとどうなるのですか？</dt>
  <dd>席決めの対象外になります。空いている席の中から自由に選んで着席していだたくことができますが、選択肢は少ないでしょう。</dd>

  <dt>向こうから希望してくれる人と話してみたいですが、その場合も何か登録した方がいいですか？</dt>
  <dd>その確率を最大化するためには、何も登録しないで身を任せるのがベストです。</dd>

  <dt>近くになりたくない人を希望することはできませんか？</dt>
  <dd>申し訳ありませんが、対応しておりません。</dd>
  <dd>近くになりたい人を登録しておくことで回避確率が上がります。</dd>

  <dt>「学生」「男」「女」などカテゴリーで希望したいのですが、できませんか？</dt>
  <dd>申し訳ありませんが、対応しておりません。</dd>
  <dd>話題を希望する機能をうまく利用するとそれに近いことができそうですが、成功は保証できません。</dd>

  <dt>他の人の希望を知りたいのですが、知ることはできませんか？</dt>
  <dd>システム上は、他の人の希望を見ることはできません。</dd>

  <dt>自分の希望内容を人に知られたくありませんが、大丈夫ですか？</dt>
  <dd>システム上は、他の人の希望を見ることはできません。</dd>
  <dd>入力時に後ろから覗かれないこと、夕食時に聞かれてもすっとぼけることを心がけてください。</dd>
  <dd>もちろん、本システムについて発表する際などには個人が判明しないように配慮します。</dd>
</dl>

<%= link_to "戻る", :root %>