<%= link_to "戻る", :root %>

<h1>趣旨説明</h1>
<p>
  それぞれの参加者がWISSの機会にぜひ話してみたい人とじっくり話せる機会を増やしたいという趣旨です。
</p>

<p>
  席決めの結果に不満・不都合がある場合もあると思います。あまり強制的なものととらえず、必要に応じて席を交換するなど、柔軟に対応をお願いいたします。
</p>

<p>
  夕食の席を決められたくない人は「自分の席は自分で決めたい」と登録することもできますし、知り合いどうしで希望しあうことなどもできますが、今回の趣旨を踏まえ、出来るだけご協力いただければと思います。
</p>

<h2>よくある質問</h2>
<dl>
  <dt>たくさん希望を入力してもいいですか？</dt>
  <dd>上限はありませんが、席決めアルゴリズムが重くなるのであまりたくさんはしないでいただけると助かります…</dd>
  <dd>目安としては一人当たり2～5個くらい</dd>

  <dt>希望を登録しなくても大丈夫ですか？</dt>
  <dd>登録しなくても席は決まりますのでご安心ください。身を任せるのも楽しみ方のひとつだと思います。</dd>

  <dt>「自分の席は自分で決めたい」を選択しているとどうなるのですか？</dt>
  <dd>席決めの対象外になります。空いている席の中から自由に選んで着席してください。</dd>

  <dt>自分と話したいと思っている人と話してみたいですが、その場合も何か登録した方がいいですか？</dt>
  <dd>その確率を最大化するためには、何も登録しないで身を任せるのがベストです。</dd>

  <dt>近くになりたくない人を希望できませんか？</dt>
  <dd>申し訳ありませんが、対応しておりません。</dd>
  <dd>自分の希望を登録しておくことで回避確率が上がります。</dd>

  <dt>「学生」と話したいなど、特定の相手ではなくカテゴリーで希望できませんか？</dt>
  <dd>申し訳ありませんが、対応しておりません。</dd>
  <dd>話題を希望する機能をうまく利用するとそれに近いことができそうです。</dd>

  <dt>他の人の希望を知りたいのですが、知ることはできませんか？</dt>
  <dd>システム上は、他の人の希望を見ることはできません。</dd>

  <dt>自分の希望内容を人に知られたくありませんが、大丈夫ですか？</dt>
  <dd>システム上は、他の人の希望を見ることはできません。</dd>
  <dd>入力時に後ろから覗かれないこと、夕食時に聞かれてもすっとぼけることを心がけてください。</dd>
</dl>

<%= link_to "戻る", :root %>
