<h1><%= @event.description %>のテーブル割</h1>

<%#= @priorities.to_s %>

<%#*<br />%>

<%#*<h2>Satisfied</h2>%>
<%#= @satisfied.map{|w| human_readable_want(w) }.join(" / ") %>

<%#*<h2>Unsatisfied</h2>%>
<%#= @unsatisfied.map{|w| human_readable_want(w) }.join(" / ") %>

<% @event.tables.each{|table| %>
  <ul class="table">
    <% unless table.popular_topics.empty? %>
      <li><b><%= table.popular_topics.map{|t| t.description }.join(",") %></b></li>
    <% end %>
    <% table.users.each{|u| -%>
    <li><%= u.name %></li>
    <% } -%>
  </ul>
<% } %>
