<h1><%= @event.description %>の席</h1>
<!--<p><%= event_details(@event) %></p>-->

<%#= @priorities.to_s %>

<%# if @event.planned? then -%>
<%#*<div>%>
<%#*<h2>Satisfied</h2>%>
<%#= @satisfied.map{|w| human_readable_want(w) }.join(" / ") %>

<%#*<h2>Unsatisfied</h2>%>
<%#= @unsatisfied.map{|w| human_readable_want(w) }.join(" / ") %>
<%#*</div>%>
<%# end %>

<% if @event.planned? -%>
  <%= render :partial => @event.style, :locals => { :event => @event } %>

  <% unless @event.users.exists?(exclude: true) %>
    <h2>席の決まっていない人</h2>
    <ul class="list-inline">
      <% @event.excluded_users.each do |u| -%>
        <li><%= u.name %></li>
      <% end -%>  
    </ul>
  <% end -%>

<% else -%>
  <p>決まった席はここで確認できますが、座席はまだ決まっていません。</p>
<% end -%>