// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: medium;
}

nav{
  margin-bottom: 16px;
}

div.wantform{
  width: 480px;
//  border: 1px solid black;
  border-radius: 8px;
  background: #99CCFF;
  margin: 8px;
  padding: 8px;
}

div.excludeform{
  width: 480px;
//  border: 1px solid black;
  border-radius: 8px;
  background: #FF9999;
  margin: 8px;
  padding: 8px;
}

div.footer{
  font-size: x-small;
  border-style: solid;
  border-color: black;
  border-width: 1px 0px 0px 0px;
  margin-top: 40px;
  padding-top: 10px;
}

ul.table{
  list-style-type: none;
  display: inline-block;
  border-radius: 8px;
  background: #99CCFF;
  margin: 8px;
  padding: 8px;
}

table {
  margin: 8px 8px 8px 8px;
  border: 1px solid black;
  border-collapse: collapse;
}

li.group_header{
  font-weight: bold;
}

td{
  padding-right: 8px;
  padding-left: 8px;
}

col.even-col{
  background: #99CCFF;
}

col.odd-col{

}